<template name="Register">
    <div class="container text-center">
        <form action="" class="form-login col-lg-4 col-lg-offset-4 col-sm-7 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <h1 class="form-signing-heading text-muted">Register</h1>
            <input type="text" class="form-control" id="register-email" placeholder="Email">
            <input type="text" class="form-control" id="register-userName" placeholder="User Name">
            <input type="password" class="form-control" id="register-password" placeholder="Password">
            <input type="password" class="form-control" id="register-password-again" placeholder="Password Again">
            <input type="text" class="form-control" id="register-fName" placeholder="First Name">
            <input type="text" class="form-control" id="register-lName" placeholder="Last Name">
            <input type="submit" value="Register" class="btn btn-block">
        </form>
    </div>
</template>