<template name="MainLayout">
    <main class="main-layout">
        <div class="col-lg-12 TopNavBar">
            <div id="wrapper" class="col-lg-1">
                {{>SideGames}}
                <div id="page-content-wrapper">
                    {{>Hamburger}}
                </div>
            </div>
            <div class="col-lg-3">
                <h2>League Of Legends</h2>
            </div>
            <div class="col-lg-3 pull-right top-menu-nav">
                {{>TopMenu}}
            </div>
        </div>
        <div class="col-lg-2 pull-right testFriendsList">
            {{>FriendsListTwo}}
        </div>
        <div class="col-lg-10 mainLayoutContent">
            {{>Template.dynamic template=main}}
        </div>
    </main>
</template>