<template name="FriendsList">
    <div class="panel panel-default">
        <div class="panel-heading text-center panelFriends">
            <h4>Friends</h4>
        </div>
        <ul class="list-group">
            {{#each currentUser.friendsList}}
                <li class="list-group-item each-friend text-center">
                    {{getFriendName this.id}}
                    {{#if equals status "10"}}
                        {{#if getFriendStatus this.id}}
                            <i class="fa fa-circle online-circle"></i>
                        {{else}}
                            <i class="fa fa-circle offline-circle"></i>
                        {{/if}}
                    {{/if}}

                    {{#if equals status "0"}}
                        - Pending
                    {{/if}}
                    {{#if equals status "1"}}
                        <i class="fa fa-bell friend-request">Friend Request</i>
                    {{/if}}
                </li>

            {{/each}}
        </ul>
    </div>
</template>