<template name="Lobby2">
    {{#if Template.subscriptionsReady}}
    <div class="game">
            <h2 class="text-center">{{theGame.name}}</h2>
            {{#if equals type "none"}}
            {{else}}
                <h3 class="text-center">{{type.text}}</h3>
            {{/if}}
        {{#if lobby}}
            {{#if equals lobby.status 10}}
                Looking
                <div class="btn btn-lg stopSearching">Stop searching for a game</div>
            {{else}}
                <div class="theLobby small-4 medium-4 columns">
                    <h4 class="text-center">The Lobby <i class="pull-right">{{count.count}}/{{count.howMany}}</i></h4>
                    <hr class="style14">
                    {{#each lobby.users}}
                        <div class="eachUser small-12 medium-12 columns">
                            <div class="small-2 medium-2 columns lobbyImg">
                                <img src="/Avatars/{{getImgLink this}}" alt="" class="photo">
                            </div>
                            <div class="small-8 medium-8 columns lobbyName">
                                <p>{{getNameFromId this}}</p>
                            </div>
                            <div class="small-2 medum-2 columns lobbyExit">
                                <i class="fa fa-times text-center" aria-hidden="true"></i>
                            </div>
                            <hr class="style14">
                        </div>
                    {{/each}}
                </div>

                <div class="small-2 medium-2 columns lobbyButtons text-center">
                    <div class="button-group">
                        <a href="" class="button">Start Looking!</a>
                        <a href="" class="button invite-friends-btn">{{#if invite}}Back To Chat{{else}}Invite Friends{{/if}}</a>
                    </div>
                </div>

                <div class="theLobbyChatAndInvite small-6 medium-6 columns">
                    {{#if invite}}
                        <div class="theLobbyInvite">
                            {{#each user.friendsList}}
                                {{#if equals status 10}}
                                    <div class="eachUser eachInvite small-12 medium-12 columns">
                                        <div class="small-2 medium-2 columns inviteImg">
                                            <img src="/Avatars/{{getImgLink id}}" alt="" class="photo">
                                        </div>
                                        <div class="small-8 medium-8 columns lobbyName">
                                            <p>{{getNameFromId id}}</p>

                                        </div>
                                        <div class="small-2 medum-2 columns lobbyExit">
                                            <i class="fa fa-times text-center" aria-hidden="true"></i>
                                        </div>
                                        <hr class="style14">
                                    </div>
                                {{else}}
                                    <h3 class="text-center">Your Friends List Is Empty</h3>
                                {{/if}}
                            {{else}}
                                <h3 class="text-center">Your Friends List Is Empty</h3>
                            {{/each}}
                        </div>
                    {{else}}
                        <div class="theLobbyChat">
                            <h3 class="text-center">Lobby Chat</h3>
                            <hr class="style14">
                            <div class="small-12 medium-12 columns theMessages" id="theMessages">
                                {{#each lobby.messages}}
                                    {{#if equals senderId userId}}
                                        <div class="panel small-10 medium-10 columns">
                                            {{message}}
                                        </div>
                                        <div class="small-2 medium-2 columns">
                                            <span class="label round info">{{getNameFromId senderId}}</span>
                                        </div>
                                    {{else}}
                                        <div class="small-2 medium-2 columns">
                                            <span class="label round alert">{{getNameFromId senderId}}</span>
                                        </div>
                                         <div class="panel small-10 medium-10 columns">
                                            {{message}}
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                            <form class="large-12 columns chatSendInput">
                                <div class="row collapse">
                                    <div class="small-11 columns">
                                        <input type="text" name="text" placeholder="Message" class="chatInp">
                                    </div>
                                    <div class="small-1 columns">
                                        <a href="#" class="button postfix submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
        {{else}}

            {{#if equals type "none"}}
                <h4 class="text-center">Chose your game type</h4>
                <ul class="button-group text-center">
                    {{#each theGame.types}}
                        <li><a href="#" class="button btn-each-type info">{{this.text}}</a></li>
                    {{/each}}
                </ul>
            {{else}}
                <ul class="button-group text-center">
                    <a href="" class="button secondary gameTypeBack">Back</a>
                    <a href="" class="button createALobby info">Create A Lobby</a>
                    <a href="" class="button info">Search For A Game</a>

                </ul>
            {{/if}}

        {{/if}}
    </div>

    {{/if}}
</template>