<template name="Notifications">
    {{#each notifications}}
        {{#if equals type 2}}
            <div class="card">
                <div class="card-header">Game Invite</div>
                <div class="card-block">
                    <p class="card-text"><span class="senderName">{{getNameFromId senderId}}</span> sent invite in {{content.theGame}}</p>
                </div>
                <div class="card-footer acceptGameInviteBtn">Accept</div>
            </div>
        {{/if}}
        {{#if equals type 1}}
            <div class="card">
                <div class="card-header">Friend Request</div>
                <div class="card-block">
                    <p class="card-text"></p>
                </div>
            </div>
        {{/if}}
    {{else}}
        <h4 class="text-center">No Notifications</h4>
    {{/each}}
</template>