<template name="TopMenu">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="" title="Search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a></li>
        <li class="dropdown">
            <a title="Notifications" href="" id="dLabel" data-target="droppedDown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell-o fa-2x"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                {{#each notifications}}
                    <li>{{textToShow this.type}} {{this.senderId}} <a href="" class="{{classToShow this.type}}">Accept Game Invite</a></li>
                {{/each}}
            </ul>
        </li>
        <li class="friends-button"><a href="" title="Friends"><i class="fa fa-users fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="/user/{{currentUser._id}}" title="User Profile"><i class="fa fa-user fa-2x"></i></a></li>
        {{>Logout}}
    </ul>
    </template>