//fonts
cool = 'Comfortaa', cursive;
cool2 = 'Cabin', sans-serif;
cartoon = 'Pacifico', cursive;


/*------------------------LOBBY INFO-------------------*/
.theLobby
  font-family cool2
  background-color rgba(195, 195, 229, 0.2)
  border-bottom-left-radius 1px
  box-shadow: 1px 1px 5px #888888;
  list-style none
  padding 0px

.theLobby ul, .theLobby li
  list-style none
  padding 0px

.theLobby li
  margin-top 4px


.theLobby span
  font-size 20px
  color #767775
  //color black
  text-decoration none
  margin-bottom 0em

.theLobby a
  margin-right 10px
  font-size 15px
  color #f25f5c

.lobbyPersonImage
  width 40px
  border-radius: 50%;
  margin-left 10px
  margin-right 10px
  margin-top 5px

.theLobby .devider
  background-color rgba(195,195,229,0.2)
  text-align center

.theLobby hr
  margin 3px

.inviteFriends
  margin-left 15px
  font-size 16px !important
  color #0e9795 !important





.modal
  font-family cool2

.modal-header, .modal-footer
  background #11c0be
  color white

.modal-title
  color white

.modalListGroup li
  border-radius 0px !important


.modal-footer h4
  margin-bottom 4px !important

.modal-footer h4:hover
  cursor pointer
  font-size 20px

