.notificationsDiv
  display:none;
  font-family cool2
  background-color rgba(195, 195, 229, 0.2)
  border-bottom-left-radius 1px
  box-shadow: 1px 1px 5px #888888;
  list-style none
  padding 0px

.notificationsDiv ul, .notificationsDiv li
  list-style none
  padding 0px

.notifications
  margin-top 10px
  font-size 17px

.eachNotification .btn:hover
  font-size 17px

