/*------------------------USER INFO-------------------*/
.the-user-info
  font-family cool2
  margin-top 10px

.user-info img
  width 150px
  border-radius 50%

.user-info
  margin-top 20px
  background rgba(133, 135, 133, 0.04)
  border solid rgba(128, 128, 128, 0.08) 1px
  border-radius 5px

.theName, .theUserName
  color rgba(255, 44, 44, 0.56)
  font-size 20px

.twitchName
  margin 0px
  margin-top 3px

.theTwitchName
  font-size 20px

.user-info .media
  margin 10px


.user-info-change-panel
  border-radius 0px

.form-group label
  font-size 12px

.form-group input, .form-group label
  margin-top 4px

.form-group input
  border-radius 0px

.email-verified input[type="text"]:disabled
  background-color #7eff00

