col1 = #3e1e68
col2 = #583c87
col3 = #e45a84
col4 = #ffacac
col5 = #ff5722
col6 = #995ee6

.button
  font-size 25px

.theLobby h4 i
  margin-right 6px
  color col3

.theLobby, .theLobbyChatAndInvite
  margin 0px
  padding 0px
  -webkit-box-shadow: 0px 0px 47px -10px rgba(166,166,166,0.81);
  -moz-box-shadow: 0px 0px 47px -10px rgba(166,166,166,0.81);
  box-shadow: 0px 0px 47px -10px rgba(166,166,166,0.81);
  height 500px

.theLobby .eachUser
  margin 0px
  padding 0px

.theLobby .eachUser .lobbyExit
  background #db4c1e
  height 50px

.lobbyImg
  margin-top 5px

.style14 {
  border: 0; height: 0.5px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
  margin 0px
}

.lobbyName p
  margin-top 10px
  margin-bottom 0px

.lobbyExit i
  font-size 25px
  margin-bottom 0px
  margin-top 10px
  margin-left 10px
  margin-right 0px

.lobbyExit:hover
  background col5 !important
  cursor pointer
  color white

.theLobbyChat
  height 100%
  
.postfix
  background col2

.theMessages
  height 390px
  overflow auto
  padding-top 10px

.theMessages .panel
  padding 5px


.lobbyButtons
  height 500px

.lobbyButtons .button-group
  margin-top 150px

.lobbyButtons .button-group .button
  background col2

.lobbyButtons .button-group .button:hover
  background col6


.theLobbyInvite
  height 420px
  overflow auto

.inviteImg img
  height 45px
  width 45px
  margin-top 2px

.eachInvite
  padding-right: 0px

.inviteButtonDiv
  background #2eac6d
  height 50px

.inviteButtonDiv i
  margin-top 10px
  
.inviteButtonDiv:hover
  background #9dda52
  cursor pointer

.sendInvitesButtonDiv
  padding-top 10px
  -webkit-box-shadow: 0px -10px 10px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -10px 10px -10px rgba(0,0,0,0.75);
  box-shadow: 0px -10px 10px -10px rgba(0,0,0,0.75);

.eachUser .checked
  background #9dda52

.eachUser .checked:hover
  background #2eac6d

