col1 = #3e1e68
col2 = #583c87
col3 = #e45a84
col4 = #ffacac
col5 = #ff5722


.loginDiv
  padding-top 5%

.form-login .btn-login
  background col2

.form-login .btn-login:hover
  background col1

.form-login .btn-signUp:hover
  background-color col3

.form-login .btn-signUp
  background col4