col1 = #3e1e68
col2 = #583c87
col3 = #e45a84
col4 = #ffacac
col5 = #ff5722

.sideNavLeft
  width 80px
  height 100%
  background #e1e1e1
  margin 0px
  padding 0px

.sideNavLeft li
  width 100%

.sideNavLeft a
  color col1 !important
  font-size 30px
  padding-left 20px !important

.sideNavLeft .first
  height 50px
  background col2
  font-size 30px

.first i
  margin-left 20px
  color white

.sideDivider
  border-bottom 1px solid col2