col1 = #3e1e68
col2 = #583c87
col3 = #e45a84
col4 = #ffacac
col5 = #ff5722

//fonts
cool = 'Comfortaa', cursive;
cool2 = 'Cabin', sans-serif;
cartoon = 'Pacifico', cursive;

html, body
  height 100%
  z-index -1

.mainStuff
  margin-top 50px
  background white
  height calc(100% - 50px);

.mainStuff h1
  font-family cartoon

.mainStuff h3
  font-family cool

.theHomeButtons
  margin-top 100px

.hb:hover
  cursor pointer

.theHex1,
.theHex1:before,
.theHex1:after {
  background: col2 !important;  /*  Custom background color  */
  color: white!important; /* Custom font color */
  /*font-size:20px;*/ /* Custom font size */
  border-left:1px solid col2 !important;
  border-right:1px solid col2 !important;
}
/* 5.3 - Custom Button colors End
-------------------------------------------------*/



/* 5.4 - Custom Button hover colors
-------------------------------------------------*/
.theHex1:hover,
.theHex1:hover:before,
.theHex1:hover:after {
  background: #fefdff !important;
  border-left:1px solid col2 !important;
  border-right:1px solid col2 !important;
  color: col2!important; /* Custom hover font color */
}

.theHex2,
.theHex2:before,
.theHex2:after {
  background: col5 !important;  /*  Custom background color  */
  color: white!important; /* Custom font color */
  /*font-size:20px;*/ /* Custom font size */
  border-left:1px solid col5 !important;
  border-right:1px solid col5 !important;
}
/* 5.3 - Custom Button colors End
-------------------------------------------------*/



/* 5.4 - Custom Button hover colors
-------------------------------------------------*/
.theHex2:hover,
.theHex2:hover:before,
.theHex2:hover:after {
  background: #fefdff !important;
  border-left:1px solid col5 !important;
  border-right:1px solid col5 !important;
  color: col5!important; /* Custom hover font color */
}

.theHex3,
.theHex3:before,
.theHex3:after {
  background: col3 !important;  /*  Custom background color  */
  color: white!important; /* Custom font color */
  /*font-size:20px;*/ /* Custom font size */
  border-left:1px solid col3 !important;
  border-right:1px solid col3 !important;
}
/* 5.3 - Custom Button colors End
-------------------------------------------------*/



/* 5.4 - Custom Button hover colors
-------------------------------------------------*/
.theHex3:hover,
.theHex3:hover:before,
.theHex3:hover:after {
  background: #fefdff !important;
  border-left:1px solid col3 !important;
  border-right:1px solid col3 !important;
  color: col3!important; /* Custom hover font color */
}