col1 = #3e1e68
col2 = #583c87
col3 = #e45a84
col4 = #ffacac
col5 = #ff5722

.user-good-wipes
  height 500px
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  padding-top 30px
  margin-top 50px

.little-smile
  height: 200px;
  width: 200px;
  -moz-border-radius: 105px;
  border-radius: 105px;
  margin-top 7px


.user-good-wipes .name
  color black

.user-good-wipes .userName
  color #949494

.joinedDate
  font-size 17px
  color #949494

.changeAvatar
  padding-top 20px

.changeAvatar a
  background col2

.sendFriendRequest
  padding-top 20px

.sendFriendRequest a
  background col2

.sendFriendRequest .label
  background col2
  border-radius 1000px

.sendFriendRequest .label h3
  color white
  padding-left 10px
  padding-right 10px

.eachFriend
  padding-top 4px

.eachFriend:hover
  cursor pointer

.eachFriend .small-2, .eachFriend .small-10
  padding 0px

.theFriends
  height 370px
  overflow auto

.friendName
  margin 0px

.status
  margin 0px


.anti-modal-box
  height 600px
  width 600px
  overflow auto

.anti-modal-body .small-3
  padding-top 8px

.btn-fName-close
  background-color col5
  color white

.logout-btn-div
  padding-top 5%

.btn-logout
  background col3

.declineFriendRequest-btn
  border 0px !important
