<template name="UserPage">
    <div class="col-lg-9 col-lg-offset-1 the-user-info">
        {{#if Template.subscriptionsReady}}
            <ul class="nav nav-tabs">
                <li role="presentation" class="active user-info-tab"><a href="">User Info</a></li>
                {{#if equals currentUser._id getParam}}
                    <li role="presentation" class="change-info-tab"><a href="">Change Info</a></li>
                {{/if}}
            </ul>
            <div class="user-info col-lg-6">
                <div class="media">
                    <div class="pull-left" href="#">
                        <img class="media-object dp img-circle" src="{{user.profile.imgLoc}}" style="width: 100px;height:100px;">
                    </div>
                    <div class="media-body">
                        <span class="name col-lg-12">Name: <span class="theName">{{user.profile.fName}} {{user.profile.lName}}</span></span>
                        <span class="username col-lg-12">Username: <span class="theUserName">{{user.profile.userName}}</span></span>
                        <h5 class="twitchName col-lg-12">Twitch Name: {{#if user.profile.twitch}}<a href="" class="theTwitchName">{{user.profile.twitch}}</a>{{else}}None{{/if}}</h5>
                    </div>
                </div>
                {{#if equals currentUser._id getParam}}

                {{else}}
                    {{#if isItAFriend}}
                        <div class="btn btn-lg pull-right acceptFriendButton">Accept</div>
                    {{else}}
                        <div class="btn btn-lg pull-right sendFriendRequest">Send Friend Request</div>
                    {{/if}}
                {{/if}}
            </div>
            {{#if equals currentUser._id getParam}}
                <div class="user-info-change hidden">
                    <div class="col-lg-6">
                        <h5>User Info</h5>
                        <div class="panel panel-default user-info-change-panel">
                            <div class="panel-body">
                                <form action="">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="textinput">User Name</label>
                                        <div class="col-sm-9">
                                            <input id="update-user-name" type="text" placeholder="{{user.profile.userName}}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="textinput">First Name</label>
                                        <div class="col-sm-9">
                                            <input id="update-first-name" type="text" placeholder="{{user.profile.fName}}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="textinput">Last Name</label>
                                        <div class="col-sm-9">
                                            <input id="update-last-name" type="text" placeholder="{{user.profile.lName}}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="textinput">Image Link</label>
                                        <div class="col-sm-9">
                                            <input id="update-image-link" type="text" placeholder="New Image Link" class="form-control">
                                        </div>
                                    </div>
                                    <hr class="col-lg-11">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="textinput">Email</label>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="{{getEmail user}}" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="textinput">Email Verified</label>
                                        <div class="col-sm-9 email-verified">
                                            {{#if isEmailVerified user}}
                                                <input type="text" placeholder="Verified" class="form-control is-verified" disabled>
                                            {{else}}
                                                <input type="text" placeholder="Not Verified" class="form-control not-verified">
                                            {{/if}}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-lg-offset-1">
                        <h5>Password Change</h5>
                        <div class="panel panel-default user-info-change-panel">
                            <div class="panel-body">
                                <form action="">
                                    <div class="form-group">
                                        <label for="old-password" class="col-lg-5">Old Password</label>
                                        <div class="col-lg-7">
                                            <input id="update-old-password" type="password" class="form-control" placeholder="Old Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="old-password" class="col-lg-5">New Password</label>
                                        <div class="col-lg-7">
                                            <input id="update-password" type="password" class="form-control" placeholder="New Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="old-password" class="col-lg-5">New Password Again</label>
                                        <div class="col-lg-7">
                                            <input id="update-password-again" type="password" class="form-control" placeholder="New Password Again">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <h5>Additional Info</h5>
                        <div class="panel panel-default user-info-change-panel">
                            <div class="panel-body">
                                <form action="">
                                    <div class="form-group">
                                        <label for="old-password" class="col-lg-5">Twitch Name</label>
                                        <div class="col-lg-7">
                                            <input id="update-twitch" type="text" class="form-control" placeholder="Twitch">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <hr>
                        <div class="btn btn-lg pull-right">Cancel</div>
                        <div class="btn btn-lg pull-right button-save-changes">Save Changes</div>
                    </div>

                </div>
            {{/if}}
        {{/if}}
    </div>
</template>