<template name="UserPage">
        {{#if Template.subscriptionsReady}}
                {{#if equals you getParam}}
                    <div class="user-good-wipes small-7 medium-7 columns">
                        <h3 class="text-center">User Info</h3>
                        <div class="row">
                            <div class="small-9 columns">
                                <div class="row">
                                    <div class="small-3 columns">
                                        <label for="right-label">First Name</label>
                                    </div>
                                    <div class="small-9 columns">
                                        <div class="row collapse">
                                            {{#if changeSome.fName}}
                                                <div class="small-10 columns">
                                                    <input type="text" placeholder="{{user.profile.fName}}" class="changeFNameInput">
                                                </div>

                                            {{else}}
                                                <div class="small-11 columns">
                                                    <input type="text" placeholder="{{user.profile.fName}}" disabled="true">
                                                </div>
                                            {{/if}}

                                            {{#if changeSome.fName}}
                                                <div class="small-2 columns">
                                                    <ul class="button-group even-2">
                                                        <li>
                                                            <a href="#" class="button postfix btn-fName-save">
                                                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="button postfix btn-fName-close">
                                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            {{else}}
                                                <div class="small-1 columns">
                                                    <a href="#" class="button postfix btn-fName-change">
                                                        <i class="fa fa-pencil edit-input-button" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-3 columns">
                                        <label for="right-label">Last Name</label>
                                    </div>
                                    <div class="small-9 columns">
                                        <div class="row collapse">
                                            {{#if changeSome.lName}}
                                                <div class="small-10 columns">
                                                    <input type="text" placeholder="{{user.profile.lName}}" class="changeLNameInput">
                                                </div>

                                            {{else}}
                                                <div class="small-11 columns">
                                                    <input type="text" placeholder="{{user.profile.lName}}" disabled="true">
                                                </div>
                                            {{/if}}

                                            {{#if changeSome.lName}}
                                                <div class="small-2 columns">
                                                    <ul class="button-group even-2">
                                                        <li>
                                                            <a href="#" class="button postfix btn-lName-save">
                                                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="button postfix btn-lName-close">
                                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            {{else}}
                                                <div class="small-1 columns">
                                                    <a href="#" class="button postfix btn-lName-change">
                                                        <i class="fa fa-pencil edit-input-button" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-3 columns">
                                        <label for="right-label">User Name</label>
                                    </div>
                                    <div class="small-9 columns">
                                        <div class="row collapse">
                                            {{#if changeSome.userName}}
                                                <div class="small-10 columns">
                                                    <input type="text" placeholder="{{user.profile.userName}}" class="changeUserNameInput">
                                                </div>

                                            {{else}}
                                                <div class="small-11 columns">
                                                    <input type="text" placeholder="{{user.profile.userName}}" disabled="true">
                                                </div>
                                            {{/if}}

                                            {{#if changeSome.userName}}
                                                <div class="small-2 columns">
                                                    <ul class="button-group even-2">
                                                        <li>
                                                            <a href="#" class="button postfix btn-userName-save">
                                                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="button postfix btn-userName-close">
                                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            {{else}}
                                                <div class="small-1 columns">
                                                    <a href="#" class="button postfix btn-userName-change">
                                                        <i class="fa fa-pencil edit-input-button" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-3 columns">
                                        <label for="">Twitch Name</label>
                                    </div>
                                    <div class="small-9 columns">
                                        <div class="row collapse">
                                            {{#if changeSome.twitchName}}
                                                <div class="small-10 columns">
                                                    <input type="text" placeholder="{{user.profile.twitchName}}" class="changeTwitchNameInput">
                                                </div>

                                            {{else}}
                                                <div class="small-11 columns">
                                                    <input type="text" placeholder="{{user.profile.twitchName}}" disabled="true">
                                                </div>
                                            {{/if}}

                                            {{#if changeSome.twitchName}}
                                                <div class="small-2 columns">
                                                    <ul class="button-group even-2">
                                                        <li>
                                                            <a href="#" class="button postfix btn-twitchName-save">
                                                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="button postfix btn-twitchName-close">
                                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            {{else}}
                                                <div class="small-1 columns">
                                                    <a href="#" class="button postfix btn-twitchName-change">
                                                        <i class="fa fa-pencil edit-input-button" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-3 columns">
                                        <label for="">Email Address</label>
                                    </div>
                                    <div class="small-9 columns">
                                        <div class="row collapse">
                                            <div class="small-12 columns">
                                                <input type="text" placeholder="{{email.address}}" disabled="true">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="small-3 columns">
                                <img src="/Avatars/{{user.profile.imgLoc}}" alt="">
                            </div>
                            <div class="small-3 columns text-center changeAvatar">
                                <a href="#" class="button small round btn-avatar" >Change Avatar</a>
                            </div>
                        </div>
                        <div class="small-3 columns right logout-btn-div">
                            <a href="/logout" class="button right small round btn-logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                {{else}}
                    <div class="user-good-wipes small-5 medium-5 small-offset-3 columns">
                        <h3 class="text-center">{{user.profile.fName}} {{user.profile.lName}}</h3>
                        <div class="around-image text-center small-centered medium-centered columns">
                            <img src="/Avatars/{{user.profile.imgLoc}}" alt="" class="little-smile">
                        </div>
                         <h4 class="text-center userName">{{user.profile.userName}}</h4>
                        <h4 class="text-center joinedDate">Joined {{joinedDate}}</h4>
                            <div class="sendFriendRequest text-center">
                                {{#if isItAFriend}}
                                    {{#if equals friendStatus 10}}
                                        <h1>Friends</h1>
                                    {{/if}}
                                    {{#if equals friendStatus 0}}
                                        <span class="label"><h3>Friend Request Sent</h3></span>
                                    {{/if}}
                                    {{#if equals friendStatus 1}}
                                        <ul class="button-group round">
                                            <li>
                                                <a href="#" class="button round text-center acceptFriendRequest-btn success">Accept Friend Request</a>
                                            </li>
                                            <li class="decline-li"><a href="#" class="button warning declineFriendRequest-btn">X</a></li>
                                        </ul>
                                    {{/if}}
                                    {{#if equals friendStatus 99}}
                                            <a href="#" class="button round text-center sendFriendRequest-btn">Send Friend Request</a>
                                        {{/if}}
                                    {{else}}
                                    <a href="#" class="button round text-center sendFriendRequest-btn">Send Friend Request</a>
                                {{/if}}
                            </div>
                        </div>
                {{/if}}



                {{#if equals you getParam}}
                    <div class="user-friends user-good-wipes small-3 medium-3 small-offset-1 end columns">
                        <h4 class="text-center">Friends List</h4>
                        <div class="small-12 medium-12 columns theFriends" id="theFriends">
                            {{#each user.friendsList}}
                                <div class="eachFriend">
                                    <div class="friendImage small-2 columns">
                                        <img src="/Avatars/{{getImageFromId id}}" alt="">
                                    </div>
                                    <div class="small-10 columns">
                                        <div class="small-12 columns">
                                            <h5 class="friendName">{{getNameFromId id}}</h5>
                                        </div>
                                        <div class="small-12 columns">
                                            {{#if equals status 10}}

                                            {{else}}
                                                <h5 class="status">
                                                {{#if equals status 0}}
                                                    <span class="label warning">Friend Request Sent</span>
                                                {{else}}
                                                    <span class="label success">Friend Request Recived</span>
                                                {{/if}}
                                                </h5>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <hr class="style-14">
                            {{else}}
                                <h5>You Have No Friends</h5>
                            {{/each}}
                        </div>
                        <form class="large-12 columns friendSearchForm">
                            <div class="row collapse">
                                <div class="small-10 columns">
                                    <input type="text" name="text" placeholder="Friend Search" class="friendSearchInput" autocomplete="off">
                                </div>
                                <div class="small-2 columns">
                                    <a href="#" class="button postfix btn-friendSearch"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>



                {{/if}}
            {{/if}}
</template>





<template name="avatarGallery">
    <div class="anti-modal-box">
        <div class="anti-modal-body">
            {{#each avatars}}
               <div class="small-3 columns">
                   <a class="avatar" href="">
                       <img src="/Avatars/{{this}}">
                   </a>
               </div>
            {{/each}}
        </div>
    </div>
</template>