<template name="Games">
    {{#if Template.subscriptionsReady}}
        <h1 class="text-center">games</h1>
        <h2 class="text-center">lasdl asd asdasd fafa</h2>
        <div class="theGameButtons text-center">
            <div class="small-4 columns">
                <span class="hb hb-lg hb-youtube theHex3 btn-leageOfLegends">Leage Of Legends</span>
            </div>
            <div class="small-4 columns">
                <span class="hb hb-lg hb-youtube theHex1 btn-csgo">CS GO</span>
            </div>
            <div class="small-4 columns">
                <span class="hb hb-lg hb-youtube theHex2 btn-other">Other</span>
            </div>
        </div>
    {{/if}}
</template>