<template name="Home">
    {{#if Template.subscriptionsReady}}

        <!--<div class="tester text-center">
            <button type="button" class="btn btn-game btn-circle btn-xl"><i class="fa fa-gamepad" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-stream btn-circle btn-xl"><i class="fa fa-twitch" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-media btn-circle btn-xl"><i class="fa fa-video-camera" aria-hidden="true"></i></button>
        </div>-->
        <h1 class="text-center">Text Header</h1>
        <h3 class="text-center">lalala sld gege aso ad fele r g eerer ag eger r eead ge ssd ad fefe.</h3>

        <div class="theHomeButtons text-center">
            <div class="small-4 columns">
                <span class="hb hb-lg hb-youtube theHex3 btn-game"><i class="fa fa-gamepad"></i></span>
            </div>
            <div class="small-4 columns">
                <span class="hb hb-lg hb-youtube theHex1 btn-stream"><i class="fa fa-twitch"></i></span>
            </div>
            <div class="small-4 columns">
                <span class="hb hb-lg hb-youtube theHex2 btn-media"><i class="fa fa-video-camera"></i></span>
            </div>
        </div>
    {{/if}}
</template>