<template name="SideBarX">
    &zwnj;
    <ul class="side-nav fixed sideNavLeft">
        <li class="first"><i class="fa fa-diamond" aria-hidden="true"></i></li>
        <li class="hvr-underline-from-left"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="hvr-underline-from-left"><a href="/games"><i class="fa fa-gamepad" aria-hidden="true"></i></a></li>
        <li class="hvr-underline-from-left"><a href="#"><i class="fa fa-twitch" aria-hidden="true"></i></a></li>
        <li class="hvr-underline-from-left"><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
        <li class="divider sideDivider"></li>
        <li class="hvr-underline-from-left"><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i></a></li>
    </ul>
</template>